html, body {
	background:#000;
	margin:0;
	padding:0;
}
#lauta {
	background:#3b3b3b;
	margin:0;
	padding:0;
	width:800px;
	height:480px;
	border:2px #000 solid;
}
#p1_1, #p1_2, #p1_3, #p1_4, #p2_1, #p2_2, #p2_3, #p2_4 {
	left:10px;
	top:10px;
	width: 180px;
	height: 180px;
	border:1px #000 solid;
	margin:0;
	padding:0;
	position:absolute;
	border-radius:90px;
	box-shadow:inset 3px 3px 100px #000;
}

#p1_3, #p2_2 {
	left: 210px;
}
#p1_2, #p2_3 {
	left: 410px;
}
#p1_1, #p2_4 {
	left: 610px;
}
#p2_1, #p2_2, #p2_3, #p2_4 {
	top: 290px;
}
#p1_1, #p2_1 {background:rgba(255,0,0,.8);}
#p1_2, #p2_2 {background:rgba(0,0,255,.8);}
#p1_3, #p2_3 {background:rgba(0,255,0,.8);}
#p1_4, #p2_4 {background:rgba(255,255,0,.8);}

#turn {
	position:absolute;
	top:180px;
	left:390px;
	font-family:"Verdana" Verdana;
	font-size: 35px;
	color:#fcfcfc;
}