/* CSS Document for Apptacular */
body{
margin: 0px;
}


p{
text-align: center;
}

#board{
    width:800px;
    height:480px;
    border: 2px solid black;
}
  #gamearea{
    width:726px;
    height:480px;
    float:right;
    margin: 0px 0 0px 0;
  }
  
      #player1{
      width:706px;
      height:200px;
      margin: 0px 0px 0px 0px;
      float:right;
      background: #EF9F28;
      
      transform: rotate(180deg);
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Safari and Chrome */
      -o-transform: rotate(180deg); /* Opera */
      -moz-transform: rotate(180deg); /* Firefox */
      padding: 0 0 0 20px;
      }
       

      #player2{
      width:706px;
      height:200px;
      margin: 0px 0px 0px 0px;
      float:left;
      padding: 5px 0 0 0;
      background: #EF9F28;
      padding: 0 0 0 20px;
      }


  #keskipalkki{
      width:726px;
      height:80px;
      margin: 0px 0px 0px 0px;
      float:left;
      background: #EB3636;
}



  #ylapalkki{
  border: outset 4px black;
    width:66px;
    height:472px;
    margin: 0px 0px 0px 0px;
    float:left;
    background: #F01D1D;
}

#p1_1, #p1_2, #p1_3, #p1_4, #p2_1, #p2_2, #p2_3, #p2_4 {
	width: 150px;
	height: 150px;
	border:1px #000 solid;
	margin:5px 10px 5px 10px;
	padding:0;
  float: left;
	border-radius:90px;
	box-shadow:inset 3px 3px 100px #000;
}

#p1_3, #p2_2 {

}
#p1_2, #p2_3 {

}
#p1_1, #p2_4 {

}
#p2_1, #p2_2, #p2_3, #p2_4 {

}
#p1_1, #p2_1 {background:rgba(255,0,0,.8);}
#p1_2, #p2_2 {background:rgba(0,0,255,.8);}
#p1_3, #p2_3 {background:rgba(0,255,0,.8);}
#p1_4, #p2_4 {background:rgba(255,255,0,.8);}


#overlay {
	border-radius:100px;
	position:absolute;
	z-index:3;
	width:700px;
	height:180px;
	background:rgba(0,0,0,.5);
	top:20px;
	left:90px;
}


#turn {
	width: 40px;
	height: 40px;
	font-family:"Verdana" Verdana;
	font-size: 25px;
	color:#fcfcfc;
  float: right;
}

#message {
	position:absolute;
	top:150px;
	left:280px;
	z-index:4;
	width:250px;
	height:150px;
	display:none;
	background:#fcfcfc;
	border:1px #000 solid;
}

#scorep1{
border: 2px solid black;
width: 150px;
height: 70px;
float: left;
margin: 3px 5px 3px 5px;
transform: rotate(180deg);
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Safari and Chrome */
-o-transform: rotate(180deg); /* Opera */
-moz-transform: rotate(180deg); /* Firefox */
text-align: center;
}

#scorep2{
border: 2px solid black;
width: 150px;
height: 70px;
float: left;
margin: 3px 5px 3px 5px;
text-align: center;
}

#infobox{
border: 2px inset grey;
width: 300px;
height: 70px;
float: left;
margin: 3px 5px 3px 5px;
text-align: center;
}